
//Colors

$color-primary: #2EF8FF;
$color-primary-light: #00322d;
$color-primary-dark: #071c7c;
$color-gray: #777777;
$color-btn: #00FFEF;

$color-white: #FFFFFF;
$color-black:#000;


//Grid
$gutter-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 10rem;
